<form class="todo-form" [formGroup]="todoForm">
  <mat-form-field appearance="outline">
    <mat-label>Título</mat-label>
    <input formControlName="title" #title matInput placeholder="Título" />
  </mat-form-field>

  <mat-form-field class="todo-form__description" appearance="outline">
    <mat-label>Descripción</mat-label>
    <textarea formControlName="description" #description matInput></textarea>
  </mat-form-field>

  <button mat-flat-button [disabled]="todoForm.invalid" (click)="submitForm()">Guardar</button>
</form>
